[submodule "Puck_You_z5206032_z5206109_z5206259"]
	path = Puck_You_z5206032_z5206109_z5206259
	url = git@gitlab.com:dennuguyen/mtrn4110-proj.git
[submodule "mtrn4110-ass"]
	path = mtrn4110-ass
	url = git@gitlab.com:dennuguyen/mtrn4110-ass.git
